<!DOCTYPE html>
<html>
<head>
<title>部门管理</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layuitreetable/css/treetable.css">
<script src="${request.contextPath}/statics/plugins/layuitreetable/js/treetable.js"></script>
</head>
<body>
<div id="rrapp" class="layui-fluid" v-cloak>

	<div v-show="showList" class="layui-row layui-col-space5">
		
		<div class="layui-row layui-col-space5">
			
			<#if shiro.hasPermission("sys:dept:save")>
			<div class="layui-col-xs1 layui-col-md2">
    			<button class="layui-btn layui-btn-sm "  @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
  			</div>
  			</#if>  
				
		    <#if shiro.hasPermission("sys:dept:update")>
		    <div class="layui-col-xs1 layui-col-md2">
   				<button class="layui-btn layui-btn-sm layui-btn-warm" @click="update"><i class="layui-icon layui-icon-edit"></i>修改</button>
 				</div>
			</#if>
			
			<#if shiro.hasPermission("sys:dept:delete")>
		    <div class="layui-col-xs1 layui-col-md2">
   				<button class="layui-btn layui-btn-sm layui-btn-danger" @click="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
 			</div>
			</#if>
		</div>
		
		<div class="layui-row layui-col-xs4 layui-col-md12">
			<table  id="tableGrid" ></table>
		</div>
 	</div>
	

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<br/>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">部门名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dept.name" placeholder="部门名称"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">上级部门</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" style="cursor:pointer;" v-model="dept.parentName" @click="deptTree" readonly="readonly" placeholder="一级部门"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">排序号</div>
				<div class="col-sm-10">
					<input type="number" class="form-control" v-model="dept.orderNum" placeholder="排序号"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/dept.js?_${.now?long}"></script>
</body>
</html>