<!DOCTYPE html>
<html>
<head>
<title>部门管理</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layuitreetable/css/treetable.css">
<script src="${request.contextPath}/statics/plugins/layuitreetable/js/treetable.js"></script>
</head>
<body class="layui-body">
<div id="rrapp" class="layui-fluid" v-cloak>

	<div v-show="showList" class="layui-row layui-col-space5">
		
		<div class="layui-row layui-col-space5">
			
			<#if shiro.hasPermission("sys:dept:save")>
			<div class="layui-col-xs2 layui-col-md2">
    			<button class="layui-btn layui-btn-sm "  @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
  			</div>
  			</#if>  
				
		    <#if shiro.hasPermission("sys:dept:update")>
		    <div class="layui-col-xs2 layui-col-md2">
   				<button class="layui-btn layui-btn-sm layui-btn-warm" @click="update"><i class="layui-icon layui-icon-edit"></i>修改</button>
 				</div>
			</#if>
			
			<#if shiro.hasPermission("sys:dept:delete")>
		    <div class="layui-col-xs2 layui-col-md2">
   				<button class="layui-btn layui-btn-sm layui-btn-danger" @click="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
 			</div>
			</#if>
		</div>
		
		<div class="layui-row layui-col-xs7 layui-col-md12">
			<table  id="tableGrid" ></table>
		</div>
 	</div>
	

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<br/>
		<form class="layui-form">
			  <div class="layui-form-item">
			    <label class="layui-form-label">部门名称</label>
			    <div class="layui-input-block">
			      <input type="text" v-model="dept.name"  placeholder="部门名称" class="layui-input">
			    </div>
			  </div>
			  
			  <div class="layui-form-item">
			    <label class="layui-form-label">上级部门</label>
			    <div class="layui-input-block">
			      <input type="text" v-model="dept.parentName" style="cursor:pointer;" @click="deptTree" readonly="readonly" placeholder="一级部门" class="layui-input">
			    </div>
			  </div>
			  
			  <div class="layui-form-item">
			    <label class="layui-form-label">排序号</label>
			    <div class="layui-input-block">
			      <input type="number" v-model="dept.orderNum"  placeholder="排序号" class="layui-input">
			    </div>
			  </div>
		</form>	  
		
		<!-- 放在form表单里，点击按钮会默认提交表单 -->
		<div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn layui-btn-radius" lay-submit="" @click="saveOrUpdate" >确定</button>
		      <button  class="layui-btn layui-btn-primary layui-btn-radius"  @click="reload" >返回</button>
		    </div>
		</div>	  
	</div>
	
	
	<!-- 选择部门 -->
	<div class="layui-row layui-col-xs4 layui-col-md12">
		<div id="deptLayer" style="display: none;padding:10px;">
			<ul id="deptTree" class="ztree"></ul>
		</div>
	</div>	
	
	
</div>

<script src="${request.contextPath}/statics/js/modules/sys/dept.js?_${.now?long}"></script>
</body>
</html>