<!DOCTYPE html>
<html>
<head>
<title>菜单管理</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/layuitreetable/css/treetable.css">
<script src="${request.contextPath}/statics/plugins/layuitreetable/js/treetable.js"></script>
</head>
<body class="layui-body">
<div id="rrapp" class="layui-fluid" v-cloak>

	<div v-show="showList" class="layui-row layui-col-space5">
		
		<div class="layui-row layui-col-space5">
			
			<#if shiro.hasPermission("sys:menu:save")>
			<div class="layui-col-xs1 layui-col-md2">
    			<button class="layui-btn layui-btn-sm "  @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
  			</div>
  			</#if>  
				
		    <#if shiro.hasPermission("sys:menu:update")>
		    <div class="layui-col-xs1 layui-col-md2">
   				<button class="layui-btn layui-btn-sm layui-btn-warm" @click="update"><i class="layui-icon layui-icon-edit"></i>修改</button>
 			</div>
			</#if>
			
			<#if shiro.hasPermission("sys:menu:delete")>
		    <div class="layui-col-xs1 layui-col-md2">
   				<button class="layui-btn layui-btn-sm layui-btn-danger" @click="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
 			</div>
			</#if>
		</div>
		<div style="border: 1px solid red;">
		<div class="layui-row layui-col-xs4 layui-col-md12">
			<table  id="tableGrid"></table>
		</div>
		</div>
 	</div>


	
	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<br/>
		<form class="layui-form">
			  
			  <div class="layui-form-item">
			    <label class="layui-form-label">类型</label>
			    <div class="layui-input-block">
			    
				      	
						<input type="radio" name="type" value="0" v-model="menu.type" class="layui-input" title="目录" />
							<input type="radio" name="type" value="1" v-model="menu.type" class="layui-input" title="菜单" /> 
							<input type="radio" name="type" value="2" v-model="menu.type" class="layui-input" title="按钮" /> 
			    </div>
			  </div>
		
				
			 <div class="layui-form-item">
			    <label class="layui-form-label">菜单名称</label>
			    <div class="layui-input-block">
				      <input type="text" v-model="menu.name" placeholder="菜单名称或按钮名称" class="layui-input" />
			    </div>
			  </div>	
		
			 <div class="layui-form-item">
			    <label class="layui-form-label">上级菜单</label>
			    <div class="layui-input-block">
				      <input type="text" style="cursor:pointer;" v-model="menu.parentName" @click="menuTree" readonly="readonly" placeholder="一级菜单" class="layui-input" />
			    </div>
			  </div>	
			
			
			<div v-if="menu.type == 1" class="layui-form-item">
			    <label class="layui-form-label">菜单URL</label>
			    <div class="layui-input-block">
				      <input type="text"  v-model="menu.url" placeholder="菜单URL" class="layui-input" />
			    </div>
			  </div>	
			  
			<div v-if="menu.type == 1 || menu.type == 2" class="layui-form-item">
			    <label class="layui-form-label">授权标识</label>
			    <div class="layui-input-block">
				      <input type="text"  v-model="menu.perms" placeholder="多个用逗号分隔，如：user:list,user:create" class="layui-input" />
			    </div>
			  </div>
			
			<div v-if="menu.type != 2"  class="layui-form-item">
			    <label class="layui-form-label">排序号</label>
			    <div class="layui-input-block">
				      <input type="number"  v-model="menu.orderNum" placeholder="排序号" class="layui-input" />
			    </div>
			  </div>
			  
			  
			 <div v-if="menu.type != 2"  class="layui-form-item">
			    <label class="layui-form-label">图标</label>
			    <div class="layui-input-block">
				      <input type="text"  v-model="menu.icon" placeholder="菜单图标" class="layui-input" />
			    </div>
			  </div>	  
			  	    	  
		</form>
		
		<!-- 放在form表单里，点击按钮会默认提交表单 -->
		<div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn layui-btn-radius" lay-submit="" @click="saveOrUpdate" >确定</button>
		      <button  class="layui-btn layui-btn-primary layui-btn-radius"  @click="reload" >返回</button>
		    </div>
		</div>	  
		
	</div>
	
	
<!-- 选择菜单 -->
<div id="menuLayer" style="display: none;padding:10px;">
	<ul id="menuTree" class="ztree"></ul>
</div>
	
</div>


<script src="${request.contextPath}/statics/js/modules/sys/menu.js?_${.now?long}"></script>
</body>
</html>