<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<#include "/header.html">
</head>
<body class="layui-body">
<div id="rrapp" class="layui-fluid" v-cloak>

		<div v-show="showList" class="layui-row layui-col-space5">
			<div class="layui-row layui-col-xs4 layui-col-md12">
				<input type="text" v-model="q.roleName" @keyup.enter="query"   placeholder="角色名称" class="layui-input">
			</div>
			
			<div class="layui-row layui-col-space5">
				<div class="layui-col-xs1 layui-col-md2">
	    			<button class="layui-btn layui-btn-sm layui-btn-primary" @click="query"><i class="layui-icon layui-icon-search"></i>查询</button>
	  			</div>	  
				
				<#if shiro.hasPermission("sys:role:save")>
				<div class="layui-col-xs1 layui-col-md2">
	    			<button class="layui-btn layui-btn-sm "  @click="add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
	  			</div>
	  			</#if>  
					
			    <#if shiro.hasPermission("sys:role:update")>
			    <div class="layui-col-xs1 layui-col-md2">
	   				<button class="layui-btn layui-btn-sm layui-btn-warm" @click="update"><i class="layui-icon layui-icon-edit"></i>修改</button>
	 				</div>
				</#if>
				
				<#if shiro.hasPermission("sys:role:delete")>
			    <div class="layui-col-xs1 layui-col-md2">
	   				<button class="layui-btn layui-btn-sm layui-btn-danger" @click="del"><i class="layui-icon layui-icon-delete"></i>删除</button>
	 			</div>
				</#if>
			</div>
			
			<div class="layui-row layui-col-xs5 layui-col-md12">
				<table  id="tableGrid" ></table>
			</div>
			
	 	</div>





	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<br/>
		
		<form class="layui-form">
			  <div class="layui-form-item">
			    <label class="layui-form-label">角色名称</label>
			    <div class="layui-input-block">
			      <input type="text" v-model="role.roleName" placeholder="角色名称" class="layui-input">
			    </div>
			  </div>
			  
			  <div class="layui-form-item">
			    <label class="layui-form-label">所属部门</label>
			    <div class="layui-input-block">
			      <input type="text" v-model="role.deptName" style="cursor:pointer;" @click="deptTree" readonly="readonly" placeholder="所属部门" class="layui-input">
			    </div>
			  </div>
			  
			  <div class="layui-form-item">
			    <label class="layui-form-label">备注</label>
			    <div class="layui-input-block">
			      <input type="text" v-model="role.remark" placeholder="备注" class="layui-input">
			    </div>
			  </div>
			  
			  
			  <div class="layui-form-item">
			    <label class="layui-form-label">功能权限</label>
			    <div class="layui-input-block">
			      <ul id="menuTree" class="ztree" style="border:1px solid red"></ul>
			    </div>
			  </div>
			  
			  <div class="layui-form-item">
			    <label class="layui-form-label">数据权限</label>
			    <div class="layui-input-block">
			      <ul id="dataTree" class="ztree" style="border:1px solid red"></ul>
			    </div>
			  </div>
			
		</form>
		 <!-- 放在form表单里，点击按钮会默认提交表单 -->
		<div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn layui-btn-radius" lay-submit="" @click="saveOrUpdate" >确定</button>
		      <button  class="layui-btn layui-btn-primary layui-btn-radius"  @click="reload" >返回</button>
		    </div>
		</div> 
		
	</div>
	
	<!-- 选择部门 -->
	<div class="layui-row layui-col-xs4 layui-col-md12">
		<div id="deptLayer" style="display: none;padding:10px;">
			<ul id="deptTree" class="ztree"></ul>
		</div>
	</div>	
	
</div>


<script src="${request.contextPath}/statics/js/modules/sys/role.js?_${.now?long}"></script>
</body>
</html>